
#download-form-alert{
	/* display:block;*/
	display:none; 
}
#download-form-alert.download-form-alert-visible{
	display:block;
	z-index: 99999999;
}

.download-form-alert-wrap{
	position:relative;
	width: auto;
	height: auto;	
}
.download-form-alert-fixed{
	position:fixed;
	top: 0; left:0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999999;
}
.download-form-alert-pos{
	position:absolute;
	top: 0; bottom:0; left:0; right:0;
	width:90%;
	max-width: 500px;
	height: 80px;
	margin:auto;
	padding:40px;	
	text-align:center;
	background: #fff;	
}
.download-form-alert-txt{
	margin:0 auto;
	font-size:22px;
	text-transform: uppercase;
}
.main_input_file {
	display: none;
}
#f_name {
	display: block;
	position:absolute;
	bottom:10px;
	left:0; right:0;
	margin:auto;
	background: transparent;
	border: 0;
	padding: 0;	
}
.input-file-txt{
	position:relative;
	width:100%;
	height: calc(100% - 18px);		
	padding: 18px 0 0 0;
	font-size:14px;
	cursor: pointer;
	z-index:3;	
}

